# Данные с пропусками/выбросами (если хранятся локально)
raw_data/
filtered_data/

# Промежуточные CSV/Excel-файлы
*.csv
*.xlsx

# Если есть временные датасеты
temp_dataset.csv
processed_data.pkl

# Личные заметки
notes.txt
todo.md

# Виртуальное окружение
env/
venv/
*.env
*.pyenv

# Файлы для кеширования
__pycache__/
*.py[cod]

# Файлы среды разработки
.idea/
.vscode/
*.iml

# Логи и временные файлы
logs/
*.log
*.bak
*.swp

# Системные файлы
Thumbs.db  # Windows
